@{
    <!-- sets the `Title` property of the `ViewData` dictionary to "Movie List" --> 
    <!-- the `Title` property is also used in the <title> html element in the layout page --> 
    ViewData["Title"] = "Movie List";
}

<!-- <h2>@ViewData["Title"]</h2> -->

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>
