@{
ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-6">Welcome to Game Management</h1>

    <p class="">Manage Your Game List with ease</p>

    <p>Loading...</p>
</div>
