@model GameManagementMvc.Models.Company

@{
    ViewData["Title"] = "Create Company";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundingDate" class="control-label"></label>
                <input asp-for="FoundingDate" class="form-control" />
                <span asp-validation-for="FoundingDate" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
